<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bowtie2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B781B9FB2560F5E0008EB298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B781BA112560F5E2008EB298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B781BA1C2560F5E2008EB298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
