<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Bowtie</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>atlas</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>atlas</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cherryblossoms</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cherryblossoms</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>classic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>earth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>earth</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>greenish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>greenish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>sunrise</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>sunrise</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>timber</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>timber</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>winter</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>winter</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>xmas-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>xmas-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>xmas-red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>xmas-red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-1</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>atlas</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>atlas</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cherryblossoms</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cherryblossoms</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>classic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>earth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>earth</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>greenish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>greenish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>sunrise</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>sunrise</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>timber</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>timber</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>winter</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>winter</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>xmas-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>xmas-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>xmas-red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>xmas-red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-1</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
